---
import SplitLayout from '../../layouts/SplitLayout.astro';
import licenseData from '../../data/license-data.json';

const licenseEntries = Object.entries(licenseData);

export async function getStaticPaths () {
  const licenseEntries = Object.entries(licenseData);
  return licenseEntries.map(([pkgName, pkgInfo]) => {
    return {
      params: { 
        package: encodeURIComponent(pkgName)
      }, 
      props: { 
        packageData: pkgInfo, 
        packageName: pkgName 
      }, 
    };
  });
}

const { packageData, packageName } = Astro.props;
const nameOnly = packageName.split('@').slice(0, -1).join('@');
---

<SplitLayout
  title=`${packageName} - ライセンス`
  topbarTitle={nameOnly}
  leftComponent='ライセンス'
>
  <h1>{packageName}</h1>
  <p>このページは，ビルド時に{nameOnly}専用に生成されました．</p>

  <h2>ライセンス情報</h2>
  <ul>
    <li>{packageData.licenses} License</li>
    <li>リポジトリ：
      <a
        href={packageData.repository}
        target='_blank'
      >
        {packageData.repository}
      </a>
    </li>
    <li>発行者：{packageData.publisher}</li>
  </ul>
</SplitLayout>