---
import SplitLayout from '../../layouts/SplitLayout.astro';
import licenseData from '../../data/license-data.json';

import fs from 'fs';
import path from 'path';

const licenseEntries = Object.entries(licenseData);

export async function getStaticPaths () {
  const licenseEntries = Object.entries(licenseData);
  return licenseEntries.map(([pkgName, pkgInfo]) => {
    let licenseContent = 'ライセンスファイルを取得できませんでした．'

    if (pkgInfo.licenseFile) {
      try {
        licenseContent = fs.readFileSync(pkgInfo.licenseFile, 'utf8');
      } catch (error) {
        console.error(`[Astro Build Error] ${pkgName} のライセンスファイルを読み込めませんでした: ${pkgInfo.licenseFile}`, error);
        licenseContent = `ライセンスファイル (${pkgInfo.licenseFile}) は見つかりませんでした。`;
      }
    }

    return {
      params: { 
        package: encodeURIComponent(pkgName)
      }, 
      props: { 
        packageData: pkgInfo, 
        packageName: pkgName,
        licenseContent: licenseContent,
      }, 
    };
  });
}

const { packageData, packageName, licenseContent } = Astro.props;
const nameOnly = packageName.split('@').slice(0, -1).join('@');
---

<SplitLayout
  title=`${packageName} - ライセンス`
  topbarTitle={nameOnly}
  header='ライセンス'
  noindex={true}
>
  <div class='root'>
    <h1>{packageName}</h1>
    <p>このページは，ビルド時に<span class="code">{nameOnly}</span>専用に生成されました．</p>

    <h2>ライセンス情報</h2>
    <ul>
      <li class='code'>{packageData.licenses} License</li>
      <li>リポジトリ：
        <a
          href={packageData.repository}
          target='_blank'
          class="code"
        >
          {packageData.repository}
        </a>
      </li>
      {packageData.publisher && <li>発行者：<span class="code">{packageData.publisher}</span></li>}
      {packageData.email && <li>電子メイル：<a class='code' href=`mailto:${packageData.email}` >{packageData.email}</a></li>}
      {packageData.url && <li>URL：<a href={packageData.url} target='_blank' class="code">{packageData.url}</a></li>}
    </ul>

    {packageData.licenseFile &&
      <>
        <h2>ライセンスファイル情報</h2>
        <div class="licenseSlot">
          <pre>
            <code>
              {licenseContent}
            </code>
          </pre>
        </div>
      </>
    }
  </div>
</SplitLayout>

<style lang='scss'>
  .root {
    width: calc(100% - 20px);
    margin: auto 10px;
    h1 {
      font-family: var(--font-fira-code), var(--font-zen-kaku-gothic-new), monospace;
    }
    
    .licenseSlot {
      width: 100%;
      pre{
        width: 100%;
        white-space: pre-wrap;
        word-break: break-all;
        overflow-x: auto;
      }
    }
  }
  code, .code {
    font-family: var(--font-fira-code), var(--font-zen-kaku-gothic-new), monospace;
  }
</style>