---
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";

import '../styles/globals.scss';

import Sidebar from "../components/Sidebar.astro";
import Topbar from "../components/LayoutUI/Topbar.astro";
import Underbar from '../components/LayoutUI/Underbar.astro';

const defaultTitle: string = 'JavaScript - Dictionary for Developers'

interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
}

const {
  title = defaultTitle,
  description = 'JavaScript・TypeScriptで使う構文やキーワードを，辞書形式でまとめたアプリです．',
  noindex = false
} = Astro.props

let metaTitle: string = '';

if (title === defaultTitle) {
  metaTitle = title
} else {
  metaTitle = `${title} | ${defaultTitle}`
}

const 正規URL = new URL(Astro.url.pathname, Astro.site).href; 
---

<html lang="ja">
  <head>
    <!-- 基本情報とAstro -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- タイトルとSEO -->
    <title>{metaTitle}</title>
    <meta name="description" content={description} />
    {noindex && <meta name="robots" content="noindex" />}
    <link rel="canonical" href={正規URL} />

    <ClientRouter />
    <Font cssVariable="--font-zen-kaku-gothic-new" preload />
    <Font cssVariable="--font-fira-code" preload />
    <Font cssVariable="--font-m-plus-1-code" preload />
  </head>
  <body>
    <header>
      <div>
      </div>
    </header>
    <div class='contentSlot'>
      <section data-astro-transition-persist class="searchSlot">
        <Sidebar />
      </section>
      <section class="content">
        <div class="topbar">
          <Topbar />
        </div>
        <div class="余白"></div>
        <div class="slot">
          <slot />
        </div>
        <div class="underbar">
          <Underbar />
        </div>
      </section>
    </div>
  </body>
</html>

<style lang="scss">
  body {
    padding: 0;
    margin: 0;
    --headerHeight: 45px;
    --searchWidth: 350px;
    header {
      margin: 0;
      height: var(--headerHeight);
      width: 100vw;
      border-bottom: 1px solid var(--borderColor);
    }
    .contentSlot {
      display: flex;
      height: calc(100dvh - var(--headerHeight));
      .searchSlot {
        border-right: 0.5px solid var(--borderColor);
        width: var(--searchWidth);
        height: 100%;
      }
      .content {
        border-left: 0.5px solid var(--borderColor);
        width: calc(100vw - var(--searchWidth));
        height: 100%;
        position: relative;
        .topbar {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 33px;
        }
        .余白 {
          height: 33px;
        }
        .slot {
          position: absolute;
          height: calc(100% - 66px);
          width: 100%;
          overflow-y: scroll;
        }
        .underbar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 33px;
        }
      }
    }
  }
</style>